@using Tracker.Admin.Web.Models
@model IEnumerable<Location>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btm-sml">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btm-sml">Details</a> |
            <a asp-action="People" asp-route-id="@item.Id" class="btn btn-primary btm-sml">People In Location</a> |
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary btm-sml">Delete</a>
        </td>
    </tr>
}
</table>
